@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


@import "tailwindcss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Merriweather", serif;
    font-size: 1rem;
}
body {
    min-height: 100vh;
    overflow-x: hidden;
    line-height: 1.6;
}

.link {
    text-decoration: 'none';
     color: 'inherit'
}