@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Special+Gothic+Expanded+One&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    width: 100vw;
    background: url("https://img.freepik.com/free-vector/gradient-connection-background_23-2150462053.jpg?ga=GA1.1.1723486760.1744813692&semt=ais_hybrid&w=740") center center;
    background-size: cover;
}
.main {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #fff;
}
.title {
    margin: 10px 0;
    font-size: 5rem;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
}
.title2 {
    font-size: 3.5rem;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
}
.cols {
    margin: 20px 0;
    height: 100px;
    width: 1000px;
    display: flex;
    justify-content: center;
}
.cols div {
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
input {
    height: 50px;
    width: 50%;
    border: 2px solid #ccc;
    border-radius: 0.6rem;
    transition: all 0.3s ease;
    font-size: 1.5rem;
    text-align: center;
}
input:focus {
   outline: none;
   border-color: rgb(108, 5, 243);
  /* box-shadow: 0 0 0 3px rgba(115, 0, 255, 0.5); */
}
label {
    font-size: 1.5rem;
}
@media (max-width: 1150px) {
    .title {
        font-size: 4rem;
    } 
}
@media (max-width: 900px) {
    .title {
        font-size: 3rem;
    }
    .title2 {
        font-size: 1.7rem;
    }
    .cols {
        width: 500px;
    }
    .cols div {
        width: 100px;
    }
    label {
        font-size: 0.85rem; 
    }
    
}
@media (max-width: 670px) {
    .title {
        font-size: 2rem;
    } 
    .title2 {
        font-size: 1.3rem;
    }
}

@media (max-width: 445px) {
    .title {
        font-size: 1.5rem;
    }
    .title2 {
        font-size: 1.2rem;
    }
    .cols {
        width: 400px;
    }
    .cols div {
        width: 80px;
        height: 80px;
    }
}
@media (max-width: 375px) {
    .title {
        font-size: 1.2rem;
    }
    .title2 {
        font-size: 1rem;
    }
}
