@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Special+Gothic+Expanded+One&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  width: 100vw;
  /* background: url("https://images.pexels.com/photos/268533/pexels-photo-268533.jpeg?auto=compress&cs=tinysrgb&w=600"); */
  background: url("https://images.pexels.com/photos/696644/pexels-photo-696644.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  background-size: cover;
  overflow-x: hidden;
}
nav {
  height: 110px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
  border-bottom: 3px solid white;
}

nav a {
  text-decoration: none;
  font-size: 30px;
  font-style: italic;
  font-weight: 600;
  color: white;
  border: 2px solid white;
  padding: 8px 20px;
  border-radius: 10px;
}

nav a i {
  font-size: 25px;
}

.fa-linkedin {
  color: #fff;
}
.main {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px 40px;
}
.space {
  display: flex;
  justify-content: space-between;
}
.passwordInput {
  margin-bottom: 15px;
  height: 40px;
  border: 2px solid #ccc;
  border-radius: 10px;
  font-size: 1.5rem;
  text-align: center;
  transition: all 0.3s ease;
}
.passwordInput:focus {
  outline: none;
  border-color: rgb(63, 63, 63);
}
label {
  font-size: 1.5rem;
}
#password-range {
  margin: 0 10px 0 20px;
}
#showRange {
  font-size: 1.2rem;
}
#generateBtn {
  padding: 10px 15px;
  border: none;
  border-radius: 20px;
  background-color: rgb(99, 97, 97);
  color: white;
  font-size: 2rem;
  transition: all 0.3s ease;
}
#generateBtn:hover {
  background-color: rgb(81, 79, 79);
}

@media (max-width: 1460px) {
  nav {
    height: 90px;
  }
}

@media (max-width: 480px) {
    nav {
        gap: 50px;
      }
      
      nav a {
        font-size: 1.24rem;
        padding: 0.3rem 1rem;
      }
      
      nav a i {
        font-size: 1.25rem;
      }
      
      form {
        padding: 10px 20px;
      }
      .passwordInput {
        font-size: 1.2rem;
      }
      label {
        font-size: 1rem;
      }
      #password-range {
        margin: 0 10px 0 15px;
      }
      #generateBtn {
        font-size: 1rem;
      }
}
