.top {
    width: 100%;
    height: 50px;
    background-color: white;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    z-index: 100;
}
.topLeft,.topRight {
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: center;
}
.topCenter {
    flex: 6;
}
.fa-brands {
    font-size: 25px;
    margin-right: 10px;
    color: #444;
    cursor: pointer;
}
.fa-brands:hover {
    color: teal;
}
.topImg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 150px;
}
.topList {
    display: flex;
    gap: 30px;
    justify-content: center;
    list-style: none;
}
.topList li {
    font-size: 18px;
    font-weight: 300;
    cursor: pointer;
}
.SearchIcon {
    font-size: 18px;
    color: #666;
    cursor: pointer;
}