<% layout("/layouts/boilerplateCode.ejs") -%>



<section class="newPost-section">
    <form class="newPost-form" action="/" method="post"> 
        
        <div class="form-group">
            <label for="title" class="form-label">Title</label>
            <input type="text" placeholder="Enter Title" name="title" id="title" class="form-control" required>
        </div>

        <div class="form-group">
            <label for="author" class="form-label">Author</label>
            <input type="text" placeholder="Enter Publisher name" name="author" id="author" class="form-control" required>
        </div>

        <div class="form-group">
            <label for="content" class="form-label">Description</label>
            <textarea name="content" id="content" rows="10" cols="10" placeholder="Enter Description for the post" class="form-control text-area" required></textarea>
        </div>

        <div class="form-group">
            <label for="imageUrl" class="form-label">Image Url</label>
            <input type="text" placeholder="Enter Image Url" id="imageUrl" name="imageUrl" class="form-control">
        </div>
        
        <button type="submit" class="btn-submit">Publish Post</button>
    </form>
</section>