<header class="header">
    <div class="header-logo-container">
        <a href="/" class="logo-link"><i class="fa-solid fa-feather"></i></a>
    </div>

    <nav class="header-nav">
        <ul>
            <li><a href="/" class="nav-link">Home</a></li>
            <li><a href="/newPost" class="nav-link">Add New Post</a></li>
        </ul>
    </nav>

    <div class="user-actions">
        <a href="/login" class="login-btn">Login</a>
    </div>
</header>